# =========================
# Node Modules
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Build folders
# =========================
dist/
build/
.out/

# =========================
# Environment variables
# =========================
.env
.env.local
.env.*.local

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS files (Mac / Windows)
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# IDE files
# =========================
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# =========================
# Cache
# =========================
.cache/
.parcel-cache/
.next/
.nuxt/

# =========================
# Coverage
# =========================
coverage/

# =========================
# Misc
# =========================
*.pem
*.pid
*.seed